*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    width: 100%;
    height: 100%;
    background-image: url("../../img/bg/img-01.png");
    background-color: #009970;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.body_1{
    width: 100%;
    height: 100vh;
    background-image: url("../../img/bg/img-01.png");
    background-color: #009970;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

